/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Colors variables
*/
/*
    Grid variables
*/
/*
    Text variables
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=col] {
  width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1352px) {
  .container {
    max-width: 1352px;
    flex-direction: column;
  }
}
.container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .row .col-1 {
  width: 8.3333333333%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-2 {
  width: 16.6666666667%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-3 {
  width: 25%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-4 {
  width: 33.3333333333%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-5 {
  width: 41.6666666667%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-6 {
  width: 50%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-7 {
  width: 58.3333333333%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-8 {
  width: 66.6666666667%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-9 {
  width: 75%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-10 {
  width: 83.3333333333%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-11 {
  width: 91.6666666667%;
  min-height: 1px;
  padding: 0 7.5px;
}
.container .row .col-12 {
  width: 100%;
  min-height: 1px;
  padding: 0 7.5px;
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-1 {
    width: 8.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-2 {
    width: 16.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-3 {
    width: 25%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-4 {
    width: 33.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-5 {
    width: 41.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-6 {
    width: 50%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-7 {
    width: 58.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-8 {
    width: 66.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-9 {
    width: 75%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-10 {
    width: 83.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-11 {
    width: 91.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-12 {
    width: 100%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-1 {
    width: 8.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-2 {
    width: 16.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-3 {
    width: 25%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-4 {
    width: 33.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-5 {
    width: 41.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-6 {
    width: 50%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-7 {
    width: 58.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-8 {
    width: 66.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-9 {
    width: 75%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-10 {
    width: 83.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-11 {
    width: 91.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-12 {
    width: 100%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-1 {
    width: 8.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-2 {
    width: 16.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-3 {
    width: 25%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-4 {
    width: 33.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-5 {
    width: 41.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-6 {
    width: 50%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-7 {
    width: 58.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-8 {
    width: 66.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-9 {
    width: 75%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-10 {
    width: 83.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-11 {
    width: 91.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-12 {
    width: 100%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-1 {
    width: 8.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-2 {
    width: 16.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-3 {
    width: 25%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-4 {
    width: 33.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-5 {
    width: 41.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-6 {
    width: 50%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-7 {
    width: 58.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-8 {
    width: 66.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-9 {
    width: 75%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-10 {
    width: 83.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-11 {
    width: 91.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-12 {
    width: 100%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-1 {
    width: 8.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-2 {
    width: 16.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-3 {
    width: 25%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-4 {
    width: 33.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-5 {
    width: 41.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-6 {
    width: 50%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-7 {
    width: 58.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-8 {
    width: 66.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-9 {
    width: 75%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-10 {
    width: 83.3333333333%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-11 {
    width: 91.6666666667%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-xl-12 {
    width: 100%;
    min-height: 1px;
    padding: 0 7.5px;
  }
}

html {
  font-size: 16px;
}

body {
  background: #FFFFFF;
  color: #000000;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.middle {
  display: flex;
  justify-content: center;
  place-items: center;
}

a {
  text-decoration: none;
  color: #A5A5A5;
}

header .hero {
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  place-items: center;
  position: relative;
  padding: 1.06rem 1.56rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
nav [class=col-2] {
  display: none;
}
@media screen and (min-width: 768px) {
  nav [class=col-2] {
    display: block;
  }
}
nav .row {
  z-index: 100;
}

.statistics {
  flex-direction: column;
}

.benefits {
  flex-direction: column;
}

.pricing {
  flex-direction: column;
}

.nav__logo {
  font-size: 2rem;
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  margin: 1.06rem 1.56;
}

img {
  width: 100%;
}

.nav__mobile {
  cursor: pointer;
}
.nav__mobile:checked ~ .nav__hamburger span:nth-of-type(1) {
  transform: rotate(225deg);
  position: absolute;
}
.nav__mobile:checked ~ .nav__hamburger span:nth-of-type(2) {
  display: none;
}
.nav__mobile:checked ~ .nav__hamburger span:nth-of-type(3) {
  transform: rotate(-225deg);
}
.nav__mobile:checked ~ .nav__mobile--menu {
  transform: translateY(0);
}
.nav__mobile input {
  display: none;
}
.nav__mobile span {
  height: 3px;
  width: 20px;
  background-color: #08A6E4;
  display: block;
  position: relative;
  margin-top: 0.28rem;
  transition: 1s;
}
.nav__mobile .nav__hamburger {
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .nav__mobile {
    display: none;
  }
}

.nav__mobile--menu {
  width: 100%;
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  transition: 0.7s;
  transform: translateY(-100%);
  top: 0;
  z-index: 1;
}
.nav__mobile--menu ul {
  margin: 8rem 0 3rem 2rem;
}
.nav__mobile--menu ul li {
  font-family: "Raleway", sans-serif;
  color: #A5A5A5;
  font-weight: 700;
  line-height: 3rem;
}
.nav__mobile--menu ul li:hover {
  color: #000000;
}
/*# sourceMappingURL=main.css.map */
