/*
    Colors variables
*/

$color-background: #FFFFFF;
$color-primary: #08A6E4;
$color-primary-shadow: #07ACE629;
$color-secondary: #FB3B64;
$color-secondary-shadow: #F9043629;
$color-secondary-btn: #EB476E;
$color-third: #55DFB4;
$color-text: #000000;
$color-text-light: #A5A5A5;
$color-text-bold: #13253B;
$color-text-check: #707070;
$color-border-check: #95989A;
$color-background-benefits: #F7F7F7;
$color-border-benefits: #E8E9ED;
$color-btn-menu: #07ACE6;


/*
    Grid variables
*/
$containerWidth: 1352px;
$columns: 12;
$gutter: 15px;

/*
    Text variables
*/

$font-Raleway: 'Raleway', sans-serif;
$font-Open-Sans: 'Open Sans', sans-serif;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$weight-extraBold: 800;
