button{
    font-weight: $weight-bold;
    font-family: $font-Open-Sans;
    border: 0;
    box-shadow: 5px 10px 14px $color-primary-shadow;
    background-color: $color-primary;
    border-radius: 2.5rem;
    padding: 1.37rem 5.75rem;
    margin-top: 1.75rem;
}