.nav__mobile {
    cursor: pointer;

    &:checked~.nav__hamburger span:nth-of-type(1) {
        transform: rotate(225deg);
        position: absolute;
    }

    &:checked~.nav__hamburger span:nth-of-type(2) {
        display: none;
    }

    &:checked~.nav__hamburger span:nth-of-type(3) {
        transform: rotate(-225deg) ;
    }
    &:checked~.nav__hamburger{
        transform: translateY(70%) ;
    }

    &:checked~.nav__mobile--menu {

        transform: translateY(0);
        box-shadow: 0px 3px 6px #00000029;

    }


    input {
        display: none;

    }

    span {
        height: 3px;
        width: 20px;
        background-color: $color-primary;
        display: block;
        position: relative;
        margin-top: 0.28rem;
        transition: 1s;

    }

    .nav__hamburger {
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.06rem 1.56rem;
    }

    @media screen and (min-width:768px) {
        display: none;
    }

}