.nav__logo{
    font-size: 2rem;
    color: $color-primary;
    font-family: $font-Raleway;
    font-weight: $weight-light;
    background-color: $color-background;
    margin: 1.06rem 1.56;
}

