
html{
    font-size: 16px;
}
body{
    background: $color-background;
    color: $color-text;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font-Open-Sans;
    font-weight: $weight-regular;
}

.middle{
    display: flex;
    justify-content: center;
    place-items: center;
}

a{
    text-decoration: none;
    color: $color-text-light;
}
